@font-face {
  font-family:pixell;
  src: url("tipografia/pixel.ttf");
}

@font-face {
  font-family:titulos;
  src: url("tipografia/titulos.ttf");
}

body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  display: block;
  height: 150px;
  padding-top: 55px;
  box-sizing: border-box;
}

.header img {
  text-align: right;
  width: 20%;
  padding-top: 80px;
  position: absolute;
  padding-right: 100px;
  display: inline-block;
  box-sizing:content-box;
}

.header h1 {
  color: white;
  font-family: arial;
  text-align: center;
}

.content h2 {
  font-family: titulos;
  text-align: center;
}

.content {
  background-color: lightgray;
  box-sizing: border-box;
  display: inline-block;
  padding: 40px;
  // overflow: scroll;
  vertical-align: top;
  height: 600px;
  width: 33%;
}

.content img {
  width: 80%;
  padding-top: 50px;
}

.content ul {
  font-family: pixell;
  text-align:center;
  padding-top: 20px;
}

.footer {
  background-color: black;

  text-align: center;
  font-family: arial;
  font-size: 20px;
  padding-top: 65px;
  color: white;
  box-sizing: border-box;
  height: 150px;
}
